* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    list-style-type: none;
    text-decoration: none;
}

.clear {
    clear: both;
}

.white {
    color: #fff;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
}